In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.cluster import KMeans

In [6]:
df = pd.read_excel("Datasets/MetroManilaAccidentsAgeBracket.xlsx")
df.head()

   Fatal  Non Fatal  Total  Year Age Bracket
0     14        522    536  2020        0-17
1    134       5599   5733  2020       18-34
2     89       3254   3343  2020       35-51
3     29        928    957  2020       52-65
4     16        251    267  2020    66 above

In [7]:
df.pivot_table(index="Year", columns="Age Bracket", aggfunc="sum", values="Total", margins=True)

Age Bracket  0-17  18-34  35-51  52-65  66 above    All
Year
2014         1064   4569   2590   1264       515  10002
2015         1064   5609   3610   1174       305  11762
2016          942   5265   3518   1098       334  11157
2017          140   6345   3680   1152       378  11695
2018         1624   7322   4080   1505       474  15005
2019         1661   8111   4666   1641       530  16609
2020          536   5733   3343    957       267  10836
All          7031  42954  25487   8791      2803  87066

In [9]:
data=df.iloc[:,0:2].values

In [11]:
print(data)

[[  14  522]
 [ 134 5599]
 [  89 3254]
 [  29  928]
 [  16  251]
 [  30 1631]
 [ 145 7966]
 [  93 4573]
 [  51 1590]
 [  21  509]
 [  27 1597]
 [ 154 7168]
 [  91 3989]
 [  48 1457]
 [  26  448]
 [   4  136]
 [ 163 6182]
 [  91 3589]
 [  37 1115]
 [  22  356]
 [  11  931]
 [ 153 5112]
 [ 104 3414]
 [  43 1055]
 [  18  316]
 [  32 1032]
 [ 198 5411]
 [  84 3526]
 [  53 1121]
 [  24  281]
 [  32 1032]
 [ 158 4411]
 [  64 2526]
 [  43 1221]
 [  34  481]]

# Cluster in each datapoints

In [36]:
cluster = KMeans(init="random", n_clusters = 3, n_init = 10, max_iter=300, random_state=42)
model = cluster.fit(data)
sse = cluster.inertia_
clusters = model.labels_
print(clusters)

[2 0 1 2 2 2 0 1 2 2 2 0 1 2 2 2 0 1 2 2 2 0 1 2 2 2 0 1 2 2 2 1 1 2 2]

# (Sum of Squared Error)SSE

In [37]:
# calculated (Sum of Squared Error)SSE console 
#between SSE / SSE Calculation  
print(sse)

13993574.404761903

# (Sum of Squared Regression)SSR

In [38]:
ssr = np.sum((cluster.inertia_ - data.mean())**2)
print(ssr)

195785315752956.6

# (Sum of Squared Total)SST

In [39]:
sst = sse / ssr
print(sst)

7.147407532043466e-08